html,
body {
  font-family: "Inter", sans-serif;
  background-color: rgb(48, 46, 46);
}

body {
  padding: 150px 40px;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  color: #fff;
}
